.print-btn,
.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fafaf9;
    background-color: #ffffff1a;
    border: 1px solid #fff3;
    border-radius: 8px;
}

.print-btn {
    width: 6rem;
    height: 3rem;
}

.download-btn {
    width: 10rem;
}
